body {
    background-color: #428bca;
}

.navbar-default{
    background-color: #428bca;
    color: #000016;
}

.navbar-default .navbar-brand{
    color: #000016;
}

.navbar-default .navbar-nav > li > a{
    color: #000016;
}

.panel{
    margin-bottom: 0px;
    border: 0px;
    border-radius: 0px;
}

.payout_padding{
    padding: 0;
}

.TITLE {
    text-align: center;
    width: 100%;
    z-index: 2;
    min-width: 480px;
}

.TITLE_IMAGE {
    width: 350px;
    height: 50px;
    border: 2px solid #000;
    box-shadow: 0 0 5px #000;
}

.TITLE_SPACING {
    width: 15%;
}

.payout_color{
    background-color: #191d75;
}

.game_letters {
    color: white
}

.deal_button{
    border-radius: 50%;
    width:  50%;
    font-size: 30px;
    background-color: #4CAF50;
    color: #000016;
    display: inline-block;
    text-align: center;
}
.control_buttons{
    font-size: 30px;
    background-color: #4CAF50;
    color: #000016;
    display: inline-block;
    text-align: center;
    border-radius: 12px;
    width: 100%;
}

.controls_words{
    font-size: 30px;
    color: yellow;
    font-weight: bolder;
    text-align: center;

}

.bet_words{
    font-size: 30px;
    color: #000016;
    font-weight: bolder;
    text-align: center;
}

.plusminus{
    padding-left: 0px;
    padding-right: 0px;
 }

.button:hover {background-color: #3e8e41}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.div_margin{
    margin-bottom: 20px;
}

.MARQUEE { font-family: Arial; font-size: 1em; font-weight: bold; text-shadow: 1px 1px 2px #000; text-align: center; width: 100%; min-width: 460px; max-width: 750px; color: #fff; white-space: nowrap; margin: auto; }

.ROUNDED { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }


.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 190px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 140px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.card_size{
    width: 140px;
    height: 190px;
}

.holdCard{
    font-size: 20px;
    color: #080d1a;
    font-weight: bolder;
}

.message{
    font-size: 35px;
    color: #9d0420;
    font-weight: bolder;
    margin: 0 30px;
}

.centerDiv{
    text-align: center;
}

.rowposition{
    min-height: 32px;
}